<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 170px;

    background-color: black;
}

.titulo_primero h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
    left: 30px;
}
.barra_inicio .contenedor_boton .boton_inicio {
    width: 313px;
    height: 81px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #E3E3E3;
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 291px;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px white;
    transition: all 300ms;
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 170px;

    background-color: black;
}

.titulo_primero h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
    left: 30px;
}
.barra_inicio .contenedor_boton .boton_inicio {
    width: 313px;
    height: 81px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #E3E3E3;
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 291px;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px white;
    transition: all 300ms;
>>>>>>> 989d27d9957fd5b350d7d4d31a70ed3f4c9f7f3c
}